<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sign Up</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="static/mdb.min.css" rel="stylesheet">
  <!-- custom styles (optional) -->
  <link href="static/style.min.css" rel="stylesheet">
  <style type="text/html">
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }
  </style>
</head>

<body>
  <!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
        <strong>Unity Help Squad</strong>
      </a>
  </nav>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view full-page-intro" background-repeat: repeat; background-size: cover;>
    <video class="video-intro" controls muted autoplay loop>
      <source src="https://r6---sn-npoeen7y.googlevideo.com/videoplayback?id=o-ACkvPSImrIDKOWS_PZI-0x_nql4I44csHLP522aQkvBy&fexp=23724337&c=WEB&mime=video%2Fmp4&ip=144.76.248.218&lmt=1516123831404353&dur=30.093&itag=22&pl=19&source=youtube&ipbits=0&ei=rVXwWra1KYm01gKi4ruYCg&fvip=6&sparams=dur,ei,expire,id,initcwndbps,ip,ipbits,itag,lmt,mime,mip,mm,mn,ms,mv,pl,ratebypass,requiressl,source&requiressl=yes&expire=1525721613&ratebypass=yes&signature=43AF5BFCC91D99BD86306A20A453E984AB61E155.43F138EBC8A1F97F6256FFC8F3EF1F9A741E3E5C&key=cms1&title=Book%20of%20the%20Dead%20-%20Teaser&mip=221.126.237.210&cm2rm=sn-ibj-i3bz7l,sn-i3b667s&req_id=b34d771dbb9ca3ee&redirect_counter=2&cms_redirect=yes&mm=34&mn=sn-npoeen7y&ms=ltu&mt=1525699952&mv=m" type="video/mp4" />
    </video>
  
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4 white-text text-center text-md-left">

            <h1 class="display-4 font-weight-bold">Join the unity help suqad</h1>

            <hr class="hr-light">

            <p>
              <strong>Best & free guides Unity game design</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
              <strong>The most comprehensive tutorial for Unity 3D engine. Loved by users around the world. Video and written versions
                available. Start create your own Unity game now!</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
                <strong>Already have a account? Press the button below to log in!</strong>
              </p>

            <a target="_blank" href="/login" class="btn btn-indigo btn-lg">Login
              
            </a>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body">

                <!-- Form -->
                <form name="">
                  <!-- Heading -->
                  <h3 class="dark-grey-text text-center">
                    <strong>Sign Up</strong>
                  </h3>
                  <hr>

                  
                  <!-- Material form register -->
                  <form>
                  <!-- Material input text -->
                      <div class="md-form">
                          <i class="fa fa-user prefix grey-text"></i>
                          <input type="text" id="materialFormRegisterNameEx" class="form-control">
                          <label for="materialFormRegisterNameEx">Your name</label>
                      </div>

                      <!-- Material input email -->
                      <div class="md-form">
                          <i class="fa fa-envelope prefix grey-text"></i>
                          <input type="email" id="materialFormRegisterEmailEx" class="form-control">
                          <label for="materialFormRegisterEmailEx">Your email</label>
                      </div>

                      <!-- Material input email -->
                      <div class="md-form">
                          <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                          <input type="email" id="materialFormRegisterConfirmEx" class="form-control">
                          <label for="materialFormRegisterConfirmEx">Confirm your email</label>
                      </div>

                      <!-- Material input password -->
                      <div class="md-form">
                          <i class="fa fa-lock prefix grey-text"></i>
                          <input type="password" id="materialFormRegisterPasswordEx" class="form-control">
                          <label for="materialFormRegisterPasswordEx">Your password</label>
                      </div>

                      <div class="text-center mt-4">
                          <button class="btn btn-primary" type="submit">Register</button>
                      </div>
                  </form>
                  <!-- Material form register -->
                      

                </form>
                <!-- Form -->

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

 

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="javascripts/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="javascripts/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

</html>