<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Unity Help Squad</title>
    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="static/mdb.min.css" rel="stylesheet">
    <!-- custom styles (optional) -->
    <link href="static/style.min.css" rel="stylesheet">
    <style type="text/css">

      html,
      body,
      header,
      .carousel {
        height: 60vh;
      }

      @media (max-width: 740px) {
        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #929FBA!important;
              }
          }
    </style>
</head>

<body>

  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <strong>MDB</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comming">About MDB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comming">Free download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comming">Free tutorials</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="/comming" class="nav-link">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="/comming" class="nav-link">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link border border-light rounded"
                target="_blank">
                <i class="fa fa-github mr-2"></i>Login
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
          <div class="view" style="background-image: url('/img/botd_01.jpg'); background-repeat: no-repeat; background-size: cover;">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>Welcome to Unity Help Squad</strong>
                </h1>

                <p>
                  <strong>Best & free guide of Unity game design</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong> Loved by over 500 000 discord users with video and written versions
                    available.</strong>
                </p>
                <h2 class="mb-4 d-none d-md-block">
                  <strong>Ready to make a unity game that we deserve?</strong>
                  <a href="/form" class="btn btn-outline-white btn-lg">Damn right we do
                    <i class="fa fa-graduation-cap ml-2"></i>
                  </a>
                </h2>
              </div>
              <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

          </div>
        </div>
        <!--/First slide-->
    </div>
    <!--/.Carousel Wrapper-->

  </header>

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="/img/unity.png" class="img-fluid z-depth-1-half" alt="me gay lah">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Meet Unity help squad</h3>
            <p>Unity help squad is founded in 2008,and aims to helps the Untiy community, exchange ideas and making up turorials/</p>
            <p>Read details below to learn more about unity Help Squad.</p>
            <!-- Main heading -->

            <hr>

            <p>
              <strong>400+</strong> projects,
              <strong>600+</strong> tutorials,
              <strong>74</strong> studios and many more are signed up.
              <strong>All are for free.</strong>
            </p>

            <!-- CTA -->
            <a target="_blank" href="/form" class="btn btn-grey btn-md">Sign up
              <i class="fa fa-download ml-1"></i>
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">About Unity Help Squad</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">All love with Unity</h5>
                <p class="grey-text">We are a dedicated Untiy community that making fun with the engine.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Detailed tutorial</h5>
                <p class="grey-text">We give you detailed turtoial at your disposal. Whatever you are a noob or a pro player, it will helps you to implement your ideas
                  easily.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">The home of indie projects</h5>
                <p class="grey-text">We support indie projects. We have prepared numerous tools, turorials which allow you to learn
                  how to start Untiy.</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">

            <p class="h5 text-center mb-4">Video: Unity Hightlights</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MwYq_YA59uQ" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Unity Introduction-->
      <section>

        <h2 class="my-5 h3 text-center">What is Unity?</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">The world’s leading content-creation engine</h6>
                <p class="grey-text">Unity is a world’s leading engine for your content-creation.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Simple editor</h6>
                <p class="grey-text">An impressive editor allows you to develop any game project.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy to startup</h6>
                <p class="grey-text">No matter you are a beginner, student or hobbyist who want to explore and get started with Unity. You will find that it is easy to go with.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Build once, deploy anywhere</h6>
                <p class="grey-text">There are so many platforms you can deploy to with the Unity game engine, and their number is growing all the time. Build your content once and deploy at a click across all major mobile, VR, desktop, console, and TV platforms plus the Web.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="/img/adam2.jpg" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Top engine performance</h6>
                <p class="grey-text">Advanced profiling tools offer insights, such as determining if your game is CPU or GPU-bound, and how to optimize rendering and gameplay performance for a smooth user experience
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Work faster together</h6>
                <p class="grey-text">Unity Teams enables creative teams to work more efficiently together with features that enable collaboration and simplify workflows.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy installation</h6>
                <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Multiplayer</h6>
                <p class="grey-text">Multiplayer provides the easiest way to create real-time, networked games for Unity with a quick set up and get ready to have fun.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->

      
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <h2>Are you ready for the squad?</h2>
      <a class="btn btn-outline-white" href="/login"  role="button">Login
      </a>
      <a class="btn btn-outline-white" href="/form"  role="button">Sign Up
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="/comming">
        <i class="fa fa-facebook mr-3"></i>
      </a>

      <a href="/comming">
        <i class="fa fa-twitter mr-3"></i>
      </a>

      <a href="/comming">
        <i class="fa fa-youtube mr-3"></i>
      </a>

      <a href="/comming">
        <i class="fa fa-google-plus mr-3"></i>
      </a>

      <a href="/comming">
        <i class="fa fa-dribbble mr-3"></i>
      </a>

      <a href="/comming">
        <i class="fa fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/danielchim" target="_blank">
        <i class="fa fa-github mr-3"></i>
      </a>

      <a href="/comming">
        <i class="fa fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="/"> Unity Help Squad </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

    <!-- Scripts -->
    <!-- JQuery -->
    <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="javascripts/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="javascripts/mdb.min.js"></script>
      <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

</html>
